DEBUG=True
SECRET_KEY=replace-me
ALLOWED_HOSTS=127.0.0.1,localhost,testserver,debt-freedom-planner-fgfxd3daanaud0fc.centralus-01.azurewebsites.net
CSRF_TRUSTED_ORIGINS=
APP_BASE_URL=https://debt-freedom-planner-fgfxd3daanaud0fc.centralus-01.azurewebsites.net
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
STRIPE_PRO_PRODUCT_ID=
STRIPE_PORTAL_CONFIGURATION_ID=
STRIPE_PRO_MONTHLY_PRICE=19.95
STRIPE_TRIAL_PERIOD_DAYS=30
DATABASE_URL=sqlite:///db.sqlite3
DEFAULT_FROM_EMAIL=noreply@debtfreedomplanner.local
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BOOTSTRAP_SUPERUSER_USERNAME=dafrye89
BOOTSTRAP_SUPERUSER_PASSWORD=DafHef_04!
BOOTSTRAP_SUPERUSER_EMAIL=dafrye89@local.test
